.Inner-top {
    margin: 0 auto;
    padding-top: 0.5cm;
    min-height: 220px;
    min-width: 310px;
    align-self: center;
    background: #c2e59c;
    background: -webkit-radial-gradient(center, ellipse cover,  #D8E1E6 0%, #64b3f4 100%);
    background: radial-gradient(ellipse at center,  #D8E1E6 0%, #64b3f4 100%);
}

.Center-Ship {
  display: block;
    margin: auto;
}

.Sea-bottom {
  border-bottom-style: double;
  border-bottom-color: #444;
}

.Top-Ship {
  animation: Top-logo-spin infinite 4s linear;
  height: 75px;
  margin-left: auto;
}

@keyframes Top-logo-spin {
  25% {
       transform: rotate(0deg);
   }
   75% {
       transform: rotate(12deg);
   }
   50% {
       transform: rotate(-12deg);
   }
}
